*{333
    font-family: Gill sans, sans-serif;
    list-style: none;
    padding: 0;
    margin: 0;
}
body{
    background: #f3f5f8;
    text-transform: uppercase;
}
h1{
    text-align: center;
}
h3{
    margin: 5px;
}
.skill{
    width: 500px;
    margin: 60px auto;
    color: #3d535f;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0 , 0 , 0, 0.22);
}
.skill li{
    margin: 20px 0;
    padding: 10px;
}
.bar{
    background: #3d535f;
    display: block;
    height: 20px;
    border: 1px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0 , 0 , 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,8,.25,1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0 , 0 , 0, 0.22);
}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgb(128, 0, 255)0%, rgb(140, 90, 274)100%);
}
.html{
    width: 90%;
    animation: html 3s;
}
.css{
    width: 90%;
    animation: css 3s;
}
.javascript{
    width: 30%;
    animation: javascript 3s;
}
.cpp{
    width: 70%;
    animation: cpp 3s;
}
.mysql{
    width: 50%;
    animation: mysql 3s;
}
.adobe{
    width: 80%;
    animation: adobe 3s;
}

@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes .javascript {
    0%{
        width: 0%;
    }
    100%{
        width: 30%;
    }
}
@keyframes .cpp {
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes .mysql {
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}
@keyframes .adobe {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}